.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/*** INICIO LIBRO ***/

.b-wrap .b-counter{
  background-color: #3c5c6a;
  margin-left: 40%;
  margin-right: 40%;
  color: #fff;
}

#wrapper{
  padding-top: 40px;
}

#gotopage{
  text-align: center;
}

#in_go{
  width: 40px;
  margin-right: 10px;
}

/*** FIN LIBRO ***/

body{
  background-color: #4F4F4F;
}

#contenido_libro{
  margin: 50px auto;
}